<div class="py-4 mb-4 bg-light border sidebar-section p-4 d-none d-lg-block">
  <ul class="nav flex-column sticky">

    {% assign steps = site.html_pages | where: 'layout','docs' | sort: 'step' %}

    {% for step in steps %}
    {% if step.step %}
    {% assign parts = site.docs | where: 'section',step.section | sort: 'section_order' %}

    <li class="nav-item border-bottom">
      {% if step.section %}
      <a href="#{{ step.section }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-dark nav-link {% if page.url == step.url %}font-weight-bold{%endif%}">{{ step.title }}</a>
      <ul class="collapse {% if page.url == step.url %}show{% endif %} list-unstyled" id="{{ step.section }}">
        {% for p in parts %}
        <li class="pl-4 ml-3 my-1">
          <a href="{{ p.stub | prepend: '#' | prepend: step.permalink }}" class="text-dark">{{ p.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <a class="nav-link text-dark" href="{{ step.permalink | relative_url }}">
        {{ step.title }}
      </a>
      {% endif %}
    </li>
    {% endif %}{% endfor %}
  </ul>
</div>

