<footer class="p-4 bg-dark text-white">
    <div class="container-fluid h-100 py-2">
        <div class="row">
            <div class="col-md-6">

                <p class="mt-2 text-center h2"> <a class="text-white" href="{{ '/' | relative_url }}" title="CollectionBuilder Home"><img style="max-height:150px;" class="my-2 img-fluid" src="{{ '/images/logo/cb-logo-solid-vgold-transparent.png' | relative_url }}" alt="stylized CB logo"><br> Collection<br>Builder </a></p>
                <p class="text-center"><a href="{{ site.github-organization }}" class="mt-4 btn btn-lg btn-info">Github Organization</a></p>
            </div>
            <div class="col-md-6 text-center mx-auto" role="navigation">
                <p class="mx-auto mt-2 mb-0">Funding and Support From:</p>
                <p class="mx-auto my-3">
                    <a href="https://www.imls.gov/grants/awarded/lg-34-19-0064-19-0" target="_blank" rel="noopener" title="IMLS grant funding"><img style="max-height:100px;" class="img-fluid rounded" src="{{ '/images/imls_logo_2c.jpg' | relative_url }}" alt="IMLS logo"></a>
                </p>
                <p class="mx-auto my-3">
                    <a href="https://securegrants.neh.gov/publicquery/main.aspx?f=1&gn=HAA-281018-21" target="_blank" rel="noopener" title="NEH grant funding"><img style="max-height:100px;" class="img-fluid rounded" src="{{ '/images/nehlogo.jpg' | relative_url }}" alt="NEH logo"></a>
                </p>
                <p class="mx-auto my-3">
                    <a href="https://cdil.lib.uidaho.edu/" target="_blank" rel="noopener" title="CDIL - The Center for Digital Inquiry and Learning"><img style="max-height:100px;" class="img-fluid" src="{{ '/images/cdil-logo.png' | relative_url }}" alt="CDIL, center for digital inquiry and learning, logo"></a>
                </p>
                <p class="mx-auto mt-3 ">
                    <a href="https://www.lib.uidaho.edu/" target="_blank" rel="noopener" title="University of Idaho Library"><img style="max-height:85px;" class="img-fluid rounded bg-light p-3" src="{{ '/images/ui_library_horizontal.png' | relative_url }}" alt="University of Idaho Library, logo"></a>
                </p>
                
            </div>
        </div>
    </div>
</footer>