<footer class="p-4 bg-dark text-white">
                <div class="container-fluid h-100 py-4">
                    <div class="row px-3">
                        <div class="col-8 pl-4">
                           
                                <h1 class="mt-4"> <a class="text-white" href="{{ '/' | relative_url}}"><img style="max-height:180px;"  class="mt-2 img-fluid" src="{{'images/logo/solid/cb-logo-solid-vgold-transparent' | relative_url}}.png"> CollectionBuilder </a></h1>
    
                        </div>
                        <div class="col-4 mt-4" role="navigation">
                            <a href="{{site.github-organization}}" class="mt-4 btn btn-lg btn-info">Github Organization</a>
                        </div>
                    </div>
                </div>
 
</footer>