<header class="my-4">
    <div class="container-fluid h-100">
        <div class="row px-3">
            <div class="col">
                <div class="row">
                    <div class="col-4">
                <a href="{{ '/' | relative_url}}"><img  class="mt-2 img-fluid" src="{{'images/logo.png' | relative_url}}">
                </a>
                    </div>
                    <div class="col-8">
                        <h1 class="display-3 mt-0"><a class="text-dark" href="{{ '/' | relative_url}}">Collection<br>
                            Builder </a></h1>
                    </div>
                </div>
            </div>
            <div class="col mt-4" role="navigation">
                <ul class="nav nav-pills nav-fill float-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Types</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Github-Pages</a>
                            <a class="dropdown-item" href="#">Stand Alone</a>
                            <a class="dropdown-item" href="#">Skin - ContentDM</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item disabled" href="#">Skin - Murkutu (coming soon)</a>
                        </div>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link text-dark disabled" href="#" data-toggle="popover" title="CollectionBuilder is Free" data-placement="bottom" data-content="No subscriptions. No data sharing. No Dependencies">Pricing</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-dark" href="#">Documentation</a>
                            </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="about.html">About</a>
                    </li>
                    
                    
                </ul>
            </div>
        </div>
    </div>
</header>