<div class="row mb-4">
    <div class="col-md-10 offset-md-1">
        <div class="card-deck ">
            {%for type in site.data.types%}
            <div class="card mb-4  text-dark">
                <div class="card-heading">
                    <h2 class=" font-italic text-center display-5 bg-dark text-white p-4 mb-3 ">
                        <a class="text-white" href="{{ type.id | prepend: '/' | relative_url}}">{{type.title | remove: "CollectionBuilder-"}}</a>
                    </h2>
                    <p class="my-3 text-center font-italic px-2">{{type.description}}</p>
                </div>
                

                <hr />
                <div class="text-center">
                    {% unless page.url contains "template" %}
                    <a href="{{ type.id | prepend: '/' | relative_url}}" class="btn my-3 btn-lg btn-primary w-50">Get started with {{type.id | upcase }}</a>
                    {% else %}
                    <a href="{{ type.id | prepend: '/' | relative_url}}" class="btn my-3 btn-lg btn-primary w-50">Learn More</a>
                   
                    <a href="{{ type.tutorial}}" target="_blank" class="btn my-3 btn-lg btn-outline-primary  w-50">Take a Guided Walkthrough</a>
           
                    
                    <a href="{{ type.github}}" target="_blank" class="btn my-3 btn-lg btn-outline-success  w-50 ">Make your own! <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                      </svg></a>
                      <a href="https://collectionbuilder.github.io/cb-examples/browse.html#CB-{{type.id | upcase }}" target="_blank" class="btn my-3 btn-lg btn-outline-secondary  w-50">See examples</a>
                     
                      {% endunless%}

                </div>
                

                <div class="row  d-none">
                    <div class="col-12 mx-auto text-center mt-5 ">
                        <figure class="figure mx-auto text-center">
                            <img style="max-height:345px;" src="{{type.image | prepend: 'images/' }}" class="figure-img img-fluid rounded" alt="screenshot of {{ type.collection }}">
                            <figcaption class="figure-caption"><small><a href="{{type.coll-link}}">{{type.collection}}</a><br> built with {{type.title}}</small></figcaption>
                        </figure>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--<div class="col-md-6 offset-md-3">
        <h3 class="ml-3 my-3">Templates in Development
        </h3>
        <div class="card-deck ">
            {%for type in site.data.types%}
            {% if type.id == 'es' or type.id == 'sheets' %}
            <div class="card mb-4 bg-light text-dark">
                <div class="card-heading">
                    <h2 class=" font-italic text-center display-5 bg-dark text-white p-4 mb-3 ">
                        <a class="text-white" href="{{ type.id | prepend: '/' | append: '/' | relative_url}}">{{type.title | remove: "CollectionBuilder-"}}</a>
                    </h2>
                    <p class="my-3 text-center font-italic px-2">{{type.description}}</p>
                    {% if type.experimental %}<p class="my-3 text-center px-2"><span class="btn btn-sm btn-outline-danger">In Development</span></p>{% endif %}
                </div>
                <hr />

                <div class="text-center">

                    <a href="{{ type.id | prepend: '/' | relative_url}}" class="btn my-4 btn-lg btn-primary col-9">More Info</a>

                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>-->
    <!--<div class="col-md-6 offset-md-3">
        <h3 class="ml-3 my-3">Deprecated Templates
        </h3>
        <p>These templates are no longer in development. We recommend using the CSV template instead.</p>
        <div class="card-deck ">
            {%for type in site.data.types%}
            {% if type.id == 'cdm' or type.id == 'sa' %}
            <div class="card mb-4 bg-light text-dark">
                <div class="card-heading">
                    <h2 class=" font-italic text-center display-5 bg-dark text-white p-4 mb-3 ">
                        <a class="text-white" href="{{ type.id | prepend: '/' | append: '/' | relative_url}}">{{type.title | remove: "CollectionBuilder-"}}</a>
                    </h2>
                    <p class="my-3 text-center font-italic px-2">{{type.description}}</p>
                </div>
                <hr />

                <div class="text-center">

                    <a href="{{ type.id | prepend: '/' | relative_url}}" class="btn my-4 btn-lg btn-primary col-9">More Info</a>

                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>-->
    </div>
</div>