/* base */
body{
    font-family: $font-family;
    font-size: $font-size;
}
.text-dark{
    color:black;
}
/* header */
#cb-nav-brand {
    :hover { text-decoration: none; }
    img { max-height:45px; }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #F1B300 !important;
}

.dropdown-menu.show {
    display: block;
    z-index: 1030;
}

.hidden{
    display: none !important;
}