/* base */
body{
    font-family: $font-family;
    font-size: $font-size;
}
.text-dark{
    color:black;
}
/* header */
#cb-nav-brand {
    :hover { text-decoration: none; }
    img { max-height:45px; }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #F1B300 !important;
}

/* docs layout */
#docs-sidebar-nav {
    @media (min-width: 768px) { 
        position: -webkit-sticky;
        position: sticky;
        top: 0; 
        height: 100vh;
        z-index: 1000;
        -ms-flex-order: 0;
        order: 0;
        overflow-y: auto;
    }
    .dropdown-toggle {
        white-space: normal;
    }
    .spy-item .active {
        font-weight: bold;
    }
}
.docs-content {
    -ms-flex-order: 1;
    order: 1;
}