---
title: About CollectionBuilder
layout: page
permalink: /about.html
---
{% assign sections = site.about | sort: "section_order" %}

<div class="row my-5 sticky-top">
  <div class="col-md-3 d-none d-md-block">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      {% for s in sections %}
      <a class="nav-link {% if forloop.first %}active{% endif %}" id="{{s.sectionid}}-tab" data-toggle="pill" href="#{{s.sectionid}}" role="tab" aria-controls="{{s.sectionid}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{s.title}}</a>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 d-md-none">
    <select class="nav nav-pills nav-fill py-3 px-1 bg-light">
      {% for s in sections %}
      <option class="nav-link {% if forloop.first %}active{% endif %}" value="{{s.sectionid}}-tab" data-toggle="pill" href="#{{s.sectionid}}" role="tab" aria-controls="{{s.sectionid}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{s.title}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-12 col-md-9">
    <div class="tab-content mt-3" id="v-pills-tabContent">
      {% for s in sections %}
      <div class="tab-pane fade {% if forloop.first %}active show{% endif %}" id="{{s.sectionid}}" role="tabpanel" aria-labelledby="{{s.sectionid}}-tab">{{s}}</div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 d-md-none">
    {% include about-scroll-to-top.html %}
    </div>
</div>
