---
title: Add Ons
layout: default
permalink: /add-ons.html
---
<div class="container">
  <div class="row mb-5">
    <div class="col-md-8">
      <h1 class="my-4 border-bottom display-3 w-75 d-none d-md-block">{{ page.title }}</h1>
      <h1 class="my-4 border-bottom d-md-none ml-0">{{ page.title }}</h1>
    </div>
    <div class="col-12">
      <p class="h4 text-left">Add Ons (cb-add-ons) are packages that add new features to CollectionBuilder projects, providing self-contained dependencies, templates, and recipes. They generally support unusual formats or functionality beyond Items found in typical collections. Since these are unique features, cb-add-ons might require some customization for your content, but provide a base that open new possibilities!</p>
    </div>
  </div>
</div>

<div class="container" id="add-ons">
  
  <div class="row mb-4">
    <div class="col-md-10 offset-md-1">
        <div class="card-deck ">
            {% assign addons = site.data.types | where: 'type','add-on' %}
            {% for a in addons %}
            <div class="card mb-4 text-dark">
                <div class="card-heading">
                    <h2 class="font-italic text-center display-5 bg-dark text-white p-4 mb-3 ">
                        {{ a.title }}
                    </h2>
                    <p class="my-3 text-center font-italic px-2">{{ a.short_description }}</p>
                </div>
                <hr >
                <div class="text-center">
                    <a href="{{ a.github }}" class="btn my-3 btn-lg btn-outline-success w-50 ">Get Add-on <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                      </svg></a>
                      {% if a.demo %}
                      <a href="{{ a.demo }}" class="btn my-2 btn-lg btn-success col-9 w-75">See a Demo Version</a>
                      {% endif %}
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
  </div>

</div>
