---
title: Tutorials
layout: page
permalink: /tutorials.html
---

<p class="h4 mb-3">Take steps to better understand the components and workflows CollectionBuilder uses to create digital collections and exhibits. And don't forget to use our <a href="https://collectionbuilder.github.io/cb-docs/">Documentation</a> to troubleshoot and discover even more possibilities.</p>

<div class="row border my-4">
  <div class="col-md-8 border p-3">
    <h2>DHSI 2022 - Hands On With CollectionBuilder for Teaching and Exhibits</h2>
    <p>This coursepack contains outlines, video sessions, and step-by-step homework for a four day course that was first delivered as part of <a href="https://dhsi.org/">DHSI</a> in June 2022. The workshop sessions go into detail on the technical and conceptual pieces that make CollectionBuilder work. All session recordings are available on YouTube (links are in the outline!).</p>

  </div>
  <div class="col-md-4 border p-3 pt-5">
    <div class="text-center">
      <a href="https://osf.io/vwke9/" class="btn-primary btn-lg" target="_blank" rel="noopener">Full Coursepack (PDF)</a>
    </div>
  </div>
</div>

<div class="row border my-4">
  <div class="col-md-8 border p-3">
    <h2>DHSI 2021 - Go into detail about CollectionBuilder and how it works</h2>
    <p>This workshop goes into detail on the technical and conceptual pieces that make CollectionBuilder work. It was first delivered virtually as a week-long DHSI workshop in 2021.</p>

  </div>
  <div class="col-md-4 border p-3 pt-5">
    {% include bootstrap/button.md text="Go to Workshop" link="/workshop/dhsi/" color="primary btn-lg" %}
    <ul class="my-3">
      <li><a href="/workshop/dhsi/full.html">Full Coursepack</a></li>
      <li><a href="/workshop/dhsi/introduction.html">Course Details and Concepts</a></li>
      <li><a href="/workshop/dhsi/resources.html">CollectionBuilder Resources and References</a></li>

    </ul>
  </div>
</div>

<div class="row border my-4">
  <div class="col-md-8 border p-3">
    <h2>GH 2020 - Set up our lightweight template in several short steps</h2>
    <p>This workshop walks through building a CollectionBuilder-gh. It was first delivered virtually as a ADHO workshop in 2020.</p>
    <p class="alert alert-warning">Some of the steps are a little out of date with current practice. So be sure to refer to our documentation as well. </p>

  </div>
  <div class="col-md-4 border p-3 pt-5">
    {% include bootstrap/button.md text="Go to Workshop" link="/workshop/gh/" color="primary btn-lg" %}
    <ul class="my-3">
      <li><a href="/dh2020/">DH 2020 Presentation and Workshop Intro</a></li>
      
    </ul>
  </div>
</div>
