---
title: Tutorials
layout: default
permalink: /tutorials.html
---
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-4 border-bottom display-3 w-75 d-none d-md-block">{{ page.title }}</h1>
      <h1 class="my-4 border-bottom d-md-none ml-0">{{ page.title }}</h1>

      <div class="col-12">
        <p class="h4 text-left mb-3">Below are the tutorials you can choose from to take steps to better understand CollectionBuilder and the software and workflows it uses to create CollectioBuilder sites. Of course, use our <a href="/cb-docs/">Documentation</a> to troubleshoot and discover all you can do as well!</p>

      </div>
    </div>
    <div class="row border my-4">
      <div class="col-md-8 border p-3">
        <h2>DHSI 2021 - Go into detail about CollectionBuilder and how it works</h2>
        <p>This workshop goes into detail on the technical and conceptual pieces that make CollectionBuilder work. It was first delivered virtually as a week-long DHSI workshop in 2021.</p>

      </div>
      <div class="col-md-4 border p-3 pt-5">
        {% include bootstrap/button.md text="Go to Workshop" link="/workshop/dhsi/" color="primary btn-lg" %}
        <ul class="my-3">
          <li><a href="/workshop/dhsi/full.html/">Full Coursepack</a></li>
          <li><a href="/workshop/dhsi/intro.html/">Course Details and Concepts</a></li>
          <li><a href="/workshop/dhsi/resources.html/">CollectionBuilder Resources and References</a></li>

        </ul>
      </div>
    </div>
    <div class="row border my-4">
      <div class="col-md-8 border p-3">
        <h2>GH 2020 - Set up our lightweight template in several short steps</h2>
        <p>This workshop walks through building a CollectionBuilder-gh. It was first delivered virtually as a ADHO workshop in 2020.</p>
        <p class="alert alert-warning">Some of the steps are a little out of date with current practice. So be sure to refer to our documentation as well. </p>

      </div>
      <div class="col-md-4 border p-3 pt-5">
        {% include bootstrap/button.md text="Go to Workshop" link="/workshop/gh/" color="primary btn-lg" %}
        <ul class="my-3">
          <li><a href="/dh2020/">DH 2020 Presentation and Workshop Intro</a></li>
         
        </ul>
      </div>
    </div>
  </div>