---
layout: default
---
<div class="my-4">
    <span class="h1">
        Documentation
        <button class="btn btn-light d-lg-none px-1 ml-3" type="button" data-toggle="collapse" data-target="#docs-sidebar-nav" aria-controls="docs-sidebar-nav" aria-expanded="false" aria-label="Toggle docs navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false">
                <title>Menu</title>
                <path stroke="#212529" stroke-linecap="square" stroke-miterlimit="10" stroke-width="4" d="M4 7h22M4 15h22M4 23h22" />
            </svg>
        </button>
    </span>
</div>

<div class="row">
    <div class="col-lg-3">
        {% include docs-sidebar.html %}
    </div>
    <div class="col-lg-7 offset-lg-1 docs-content" >
        <h1 class="display-4 mb-4 border-bottom pb-3">{{ page.title }}</h1>
        {{ content }}
        <hr class="my-4">
        <hr class="my-4">
    </div>
</div>
