---
layout: default
---

{%for type in site.data.types%}
{%if type.id == page.type %}
<div class="col">
    <div class="card p-4 mb-4 bg-light text-dark">
        <div class="card-heading">
            <h2 class=" font-italic text-center">
                    <a class="text-dark" href="{{type.link}}">{{type.title}}</a></h2>
            <p class="my-3 text-center font-italic">{{type.description}}</p>
        </div>
        
            <img class="img-fluid mb-4" src="{{type.image | prepend: 'images/' }}" />
           
            <p class="pt-3 h4">Best for: </p>
            <ul class="list-group list-group-flush mb-3">
                {%assign points = type.points | split: ";"%}
                {%for point in points%}<li class="list-group-item bg-light text-dark border-success">{{point}}</li>{%endfor%}
            </ul>
<hr />
            <a href="{{type.link}}" class="btn my-4 btn-lg btn-info">Try {{type.title}}</a>
    </div>
</div>
{%endif%}
{%endfor%}