---
layout: default
---

        {%assign modules = site.workshop | sort: "step"  %}
        <nav class="nav sticky-top bg-white border-bottom text-center mx-auto">{%for module in modules %}
{%if page.title == module.title%}<a class="nav-link text-info h4" href="{{module.url | append: '.html' | relative_url}}">{{module.step}}. {{module.url | remove: "/workshop/"}}</a>{%else%}<a class="nav-link text-info mx-2" href="{{module.url | append: '.html' | relative_url}}"><small>{{module.step}}. {{module.url | remove: "/workshop/"}}</small></a>{%endif%}{%endfor%}</nav>
<div class="container" >
<div class="row">
    <h1 class="display-4 my-4 border-bottom pb-3">{{page.title}}</h1>
</div>
<div class="col-md-10">
    {{content}}
</div>

<p class="text-center py-4 my-4 bg-light border">
{%for module in modules %}
{%if page.title == module.title%}<a class="nav-item text-info mx-2 h4 my-4" href="{{module.url | append: '.html' | relative_url}}">{{module.step}}. {{module.url | remove: "/workshop/"}}</a>{%else%}<a class="nav-item text-info mx-2 my-4" href="{{module.url | append: '.html' | relative_url}}"><small>{{module.step}}. {{module.url | remove: "/workshop/"}}</small></a>{%endif%}{%endfor%}
</p>
<br>

</div>
</div>