---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mt-4 text-center"><a class="text-dark mx-auto" href="{{ '/' | relative_url }}"><img style="max-height:220px;" class="my-2 img-fluid" src="{{ '/images/logo/cb-logo-solid-vgold-transparent.png' | relative_url }}" alt="collection builder logo" ><span class="sr-only">CollectionBuilder</span></a></div>
            <h1 class="text-center display-4">{{ page.title }}</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 my-4 p-4">
    
        {% assign modules = site[page.type] | sort: "step" %}
        {% for module in modules %}
        <div class="col mb-4">
            <div class="card h-100 bg-dark text-white p-4">
                <h2 class="display-5 m-4"><a href="{{ module.url | relative_url }}">{{ module.step }}. {{ module.title }}</a></h2>
            </div>
        </div>
        {% endfor %}

    </div>
</div>