---
layout: default
---
<div class="container">
<h1 class="text-center">CollectionBuilder-GH Workshop Tutorial</h1>
{%assign modules = site.workshop | sort: "step"  %}
<ul class="nav nav-tabs sticky-top bg-white justify-content-center">{%for module in modules %}
  <li class="nav-item">
  {%if page.title == module.title%}<a class="nav-link text-info h4" href="{{module.url | relative_url}}">{{module.step}}. {{module.shorttitle}}</a>{%else%}
  <a class="nav-link text-info mx-2 active" href="{{module.url  | relative_url}}"><small>{{module.step}}. {{module.shorttitle}}</small></a></li>
  {%endif%}{%endfor%}</ul>


  <div class="workshop-contents">

    <h2 class="text-center">{{page.title}}</h2>
    <p class="text-center">{{page.overview}}</p>

    <div class="py-4 about-narrowed-content">
      <div id="player" class="iframe-wrapper"></div>
    </div>

    <div class="row mb-4">
      {% for step in page.steps %}
      <div class="col">
      <div class="card">
      <div class="card-body">
        <p><a href="#" onclick="seekTo({{step.time}})">Step {{forloop.index}}</a> - {{step.text}}</p>
        {% if step.doc %}<p class="text-center"><a href="{% if step.doc contains 'http'%}{{step.doc}}{% else %}{{ 'step.doc' | relative_url }}{% endif %}" target="_blank" class="small">See Documentation for More Detail</a></p>
        {%endif%}</div>
      </div></div>{% endfor %}
    </div>
{% if page.content.size > 10 %}
    <h3>Notes</h3>
    <p>{{content}}</p>
    {% endif %}
  </div>
</div>


{% capture the_collection %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
  {% assign document = site[the_collection] %}
{% endif %}

{% for links in document %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexttitle = next.title %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}
<div id="item-nav">
  <div class="d-none d-md-block">
{% if prevurl %}<a class="previous bg-dark text-white h4 btn btn-lg" href="{{ prevurl }}">«</a>{% endif %}<br />
{% if nexturl %}<a class="next bg-dark text-white h4 btn btn-lg" href="{{ nexturl }}">»</a>{% endif %}
</div>
</div>
<script>
/* post pagination keyboard shortcuts */
document.body.onkeyup = function(e){
  if (e.keyCode == '37') { window.location = '{{ prevurl }}'; } // left arrow key
  if (e.keyCode == '39') { window.location = '{{ nexturl }}'; } // right arrow key
};
</script>


<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '390',
      width: '100%',
      videoId: '{{page.video}}',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  // 4. The API will call this function when the video player is ready.
  function onPlayerReady(event) {


  }

  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var ytSeconds = 0;
  function onPlayerStateChange(e) {
    if (e.data == 1 && ytSeconds > 0) {
      e.target.seekTo(ytSeconds);
      ytSeconds = 0;
    }
  }

  function seekTo(seconds) {
    if (player.getPlayerState() == 1) {
      player.seekTo(seconds);
    }
    else {
      ytSeconds = seconds;
      player.playVideo();
    }
  }
</script>